<div
  id="popup"
  class="absolute text-center text-[#0F0F45] w-[1045px] h-[530px] shadow-lg p-7 left-[50%] top-[55%] translate-x-[-50%] translate-y-[-50%] flex-col gap-2"
>
  <div class="text-right">
    <a routerLink="/order" class="text-5xl ">&times;</a>
  </div>
  <div class="flex items-center justify-center gap-2 h-[156px]">
    <img src="/assets/congrats.svg" alt="" />
    <h1 class="text-[96px] text-yellow-500">Huzzah!</h1>
  </div>
  <h3 class="text-[36px]">Thank you for your Purchasing</h3>
  <p class="text-2xl pb-8">
    we will review your order and update you in 2-4 business days
  </p>
  <div class="flex justify-center items-center">
    <a
      routerLink="/"
      class="text-[32px] w-[440px] h-[65px] p-2 bg-yellow-500 text-white block"
      >Go to Home
    </a>
  </div>
</div>
