<section class="parent h-screen py-24 grid place-items-center">
  <div class="wrapper w-[571px] rounded-lg">
    <div class="bg-white p-4 border-r-2">
      <h3 class="uppercase text-xl pb-4">Forget Passwod</h3>
      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="resetPassword(resetPasswordForm)"
        class="flex flex-col gap-4 pb-4"
      >
        <div class="">
          <input
            formControlName="password"
            type="password"
            class="p-2 border w-full"
            placeholder="password"
          />
        </div>
        @if(resetPasswordForm.get('password')?.errors!==null&&resetPasswordForm.get('password')?.touched){
        <div class="text-red-600 mt-3">
          @if(resetPasswordForm.get('password')?.errors?.['required']){
          <p>password Required</p>
          }
        </div>
        }
        <!--  -->

        <div class="">
          <input
            formControlName="confirmPassword"
            type="password"
            class="p-2 border w-full"
            placeholder="confirm password"
          />
        </div>
        @if(resetPasswordForm.get('confirmPassword')?.errors!==null&&resetPasswordForm.get('confirmPassword')?.touched){
        <div class="text-red-600 mt-3">
          @if(resetPasswordForm.get('confirmPassword')?.errors?.['required']){
          <p>confirmPassword Required</p>
          }
        </div>
        }
        <!--  -->

        @if(invalidresetPasswordForm){
        <span class="text-red-600">{{ invalidresetPasswordForm }}</span>
        }

        <button
          class="uppercase bg-yellow-500 text-white p-2 px-10 text-sm w-fit"
          type="submit"
        >
          <!-- <div class="spinner"></div> -->
          <span>Submit</span>
        </button>
      </form>
    </div>
  </div>
</section>
