<div class="altop bg-white mb-[5px] py-4 px-4">
  <ul class="flex flex-col gap-5">
    <li class="">
      <span class="font-medium text-xs">John Doe</span>
    </li>
    <li class="flex items-center gap-2">
      <a routerLink="/wishlist">
        <span class="font-medium text-xs"
          ><i class="fas fa-heart"></i> My Wishlist</span
        ></a
      >
    </li>
    <li class="flex items-center gap-2">
      <a routerLink="/order">
        <span class="font-medium text-xs">
          <i class="fas fa-receipt"></i> My Orders</span
        ></a
      >
    </li>
    <li class="flex items-center gap-2">
      <a routerLink="/userreviews">
        <span class="font-medium text-xs"
          ><i class="fas fa-comments"></i> My Reviews</span
        ></a
      >
    </li>
    <li class="flex items-center gap-2">
      <a routerLink="/cart">
        <span class="font-medium text-xs"
          ><i class="fas fa-cart-plus"></i> My Cart</span
        ></a
      >
    </li>
  </ul>
</div>
<!--  -->
<div class="alcenter bg-white py-4 px-4 mb-[3px]">
  <h3 class="font-medium text-xs pb-4">Your Stories</h3>
  <ul class="flex flex-col gap-5">
    <li class="flex items-center gap-2">
      <div class="w-[28px] h-[28px]">
        <img
          src="/assets/6.png"
          alt="user-profile"
          class="responsive-img rounded-full"
        />
      </div>
      <span class="font-medium text-xs">Events</span>
    </li>
    <li class="flex items-center gap-2">
      <div class="w-[28px] h-[28px]">
        <img
          src="/assets/7.png"
          alt="user-profile"
          class="responsive-img rounded-full"
        />
      </div>
      <span class="font-medium text-xs">Gaming</span>
    </li>
    <li class="flex items-center gap-2">
      <div class="w-[28px] h-[28px]">
        <img
          src="/assets/8.png"
          alt="user-profile"
          class="responsive-img rounded-full"
        />
      </div>
      <span class="font-medium text-xs">Gallery</span>
    </li>
    <li class="flex items-center gap-2">
      <div class="w-[28px] h-[28px]">
        <img
          src="/assets/9.png"
          alt="user-profile"
          class="responsive-img rounded-full"
        />
      </div>
      <span class="font-medium text-xs">Videos</span>
    </li>
    <li class="flex items-center gap-2">
      <div class="w-[28px] h-[28px]">
        <img
          src="/assets/10.png"
          alt="user-profile"
          class="responsive-img rounded-full"
        />
      </div>
      <span class="font-medium text-xs">Messages</span>
    </li>
  </ul>
</div>
<!--  -->
<div class="albottom bg-white py-4 px-4 h-full">
  <h3 class="font-medium text-xs pb-4">Others</h3>
  <ul class="flex flex-col gap-5">
    <li class="flex items-center gap-2">
      <div class="w-[28px] h-[28px]">
        <img
          src="/assets/13.png"
          alt="user-profile"
          class="responsive-img rounded-full"
        />
      </div>
      <span class="font-medium text-xs">Fundraiser</span>
    </li>
    <li class="flex items-center gap-2">
      <div class="w-[28px] h-[28px]">
        <img
          src="/assets/6.png"
          alt="user-profile"
          class="responsive-img rounded-full"
        />
      </div>
      <span class="font-medium text-xs">Tutorials</span>
    </li>
    <li class="flex items-center gap-2">
      <div class="w-[28px] h-[28px]">
        <img
          src="/assets/12.png"
          alt="user-profile"
          class="responsive-img rounded-full"
        />
      </div>
      <span class="font-medium text-xs">Courses</span>
    </li>
  </ul>
</div>
