<main class="">
  <section class="big_section" id="big_section">
    <div class="asides flex">
      <div
        class="aside_left w-[25%] max-h-[891px] overflow-y-scroll flex flex-col gap-10"
      >
        <!--  -->
        <div class="px-8 flex flex-col gap-4">
          <h2 class="text-slate-500 font-medium text-xl uppercase">
            Choose Category
          </h2>
          <div class="bg-white py-5 rounded-md shadow-md">
            @for(category of categories; track category._id){
            <div class="p-3 pb-0 flex justify-between items-center">
              <div class="flex gap-2">
                <input
                  type="radio"
                  class=""
                  id="category"
                  name="cat"
                  (change)="categoryVal($event)"
                  [value]="category._id"
                />
                <label for="category" class="text-yellow-400">{{
                  category.name
                }}</label>
              </div>
              <span class="border p-1 px-2 text-gray-400 text-xs">100</span>
            </div>
            }
          </div>
        </div>
        <div class="px-8 flex flex-col gap-4">
          <h2 class="text-slate-500 font-medium text-xl uppercase">
            Filter by subcategory
          </h2>
          <div class="bg-white py-5 rounded-md shadow-md">
            @for(subcategory of subcategories; track subcategory._id){
            <div class="p-3 pb-0 flex justify-between items-center">
              <div class="flex gap-2">
                <input
                  (change)="filterItemsOnSUbCategory(subcategory._id)"
                  type="radio"
                  class=""
                  name="sub"
                  id="category"
                />
                <label for="category" class="text-yellow-400">{{
                  subcategory.name
                }}</label>
              </div>
              <span class="border p-1 px-2 text-gray-400 text-xs">100</span>
            </div>

            }
          </div>
        </div>
        <div class="px-8 flex flex-col gap-4">
          <h2 class="text-slate-500 font-medium text-xl uppercase">
            Filter by color
          </h2>
          <div class="bg-white py-5 rounded-md shadow-md">
            @if(colorList.length > 0){ @for(color of colorList; track color.id){
            <div class="p-3 pb-0 flex justify-between items-center">
              <div class="flex gap-2">
                <input
                  (change)="colorItems(color.name)"
                  type="radio"
                  class=""
                  name="color"
                />
                <label for="category" class="text-yellow-400">{{
                  color.name
                }}</label>
              </div>
              <span class="border p-1 px-2 text-gray-400 text-xs">100</span>
            </div>
            } }@else{
            <p>No items</p>
            }
          </div>
        </div>
        <div class="px-8 flex flex-col gap-4">
          <h2 class="text-slate-500 font-medium text-xl uppercase">
            Filter by size
          </h2>
          <div class="bg-white py-5 rounded-md shadow-md">
            @if(sizeList.length > 0){ @for(size of sizeList; track size.id){
            <div class="p-3 pb-0 flex justify-between items-center">
              <div class="flex gap-2">
                <input
                  type="radio"
                  class=""
                  id="category"
                  name="size"
                  (change)="sizeItems(size.name)"
                />
                <label for="category" class="text-yellow-400">{{
                  size.name
                }}</label>
              </div>
              <span class="border p-1 px-2 text-gray-400 text-xs">100</span>
            </div>

            } }@else{
            <p>No items</p>
            }
          </div>
        </div>
        <!--  -->

        <!--  -->
      </div>
      <div class="aside-right w-[75%] pt-2">
        <!--  -->
        <section class="py-5">
          <div class="container-wrapper">
            <div class="mb-9">
              <h2 class="font-medium text-slate-500 text-xl uppercase">
                {{ subcategoryName }}
              </h2>
            </div>
            <div class="items flex items-center justify-between">
              <!-- <div class="item flex gap-5 items-center">
                <span class="font-medium text-lg">Filter products:</span>
                <select
                  class="border-2 border-gray-300 p-2 w-[80px]"
                  name="color"
                >
                  <option selected hidden>Color</option>
                  <option>white</option>
                  <option>orange</option>
                  <option>red</option>
                  <option>darkblue</option>
                  <option>yellow</option>
                  <option>gray</option>
                </select>
                <select
                  class="border-2 border-gray-300 p-2 w-[80px]"
                  name="size"
                >
                  <option selected hidden>Size</option>
                  <option>XS</option>
                  <option>S</option>
                  <option>M</option>
                  <option>L</option>
                  <option>XL</option>
                </select>
                <div>reset filter</div>
              </div> -->
              <div>
                <button
                  (click)="listAllItems()"
                  class="bg-yellow-500 p-2 text-white text-sm rounded shadow-lg"
                >
                  List all Products
                </button>
              </div>
              <div class="relative">
                <button
                  (click)="toggleDrop()"
                  class="pardropdown border px-3 py-2 bg-white"
                >
                  The style of display
                </button>
                <ul
                  [class]="
                    (openDrop ? 'flex flex-col' : 'hidden') +
                    ' pardropdown_dropdown absolute border z-50 bg-white w-[150px]'
                  "
                >
                  @for(dropItem of dropItems; track dropItem.id){
                  <li
                    (click)="changeShow(dropItem.name); openDrop = false"
                    class="pl-2 hover:bg-gray-100 cursor-pointer border-t py-2"
                  >
                    {{ dropItem.name }}
                  </li>
                  }
                </ul>
              </div>
              <div class="">
                <input
                  #searchVal
                  type="text"
                  class="border p-2 outline-none"
                  placeholder="Search..."
                  (keyup)="searchItems(searchVal.value)"
                />
              </div>
              <div class="">
                <input
                  #limitVal
                  type="number"
                  min="1"
                  class="border p-2 outline-none"
                  placeholder="Type display products Num.."
                  (change)="limitItems(limitVal.valueAsNumber)"
                  (keyup)="
                    limitItems(
                      limitVal.valueAsNumber <= 0
                        ? (limit = 6)
                        : (limit = limitVal.valueAsNumber)
                    )
                  "
                />
              </div>
              <div class="item flex gap-5 items-center">
                <select
                  (change)="sortItems(sortVal.value)"
                  #sortVal
                  class="border-2 border-gray-300 p-2 w-[80px]"
                >
                  <option selected hidden>Sort</option>
                  <option value="-caretedAt">Newest</option>
                  <option value="price">Price (asc)</option>
                  <option value="-price">Price (desc)</option>
                </select>
              </div>
            </div>
          </div>
        </section>
        <section class="py-3">
          <div class="container-wrapper">
            <div class="items pb-10 flex flex-wrap gap-5">
              @if(products.length > 0){ @for(product of products; track
              product._id ){
              <div
                [class]="
                  show === 'one'
                    ? ' w-[90%]  item bg-white shadow-md rounded-md p-3 border-2 border-yellow-400'
                    : show === 'two'
                    ? ' w-[48%]  item bg-white shadow-md rounded-md p-3 border-2 border-yellow-400'
                    : ' w-[30%]  item bg-white shadow-md rounded-md p-3 border-2 border-yellow-400' +
                      ' item bg-white shadow-md rounded-md p-3 border-2 border-yellow-400'
                "
              >
                <div class="h-[35vh] shadow-md overflow-hidden relative">
                  <img
                    [src]="productImg + product.coverimg"
                    alt=""
                    class="img-responsive-fill hover:scale-125 hover:rotate-6 transition delay-150 ease-in-out"
                  />
                  <div class="flex flex-col gap-2 absolute top-[10%] right-0">
                    <a
                      [routerLink]="'/products/' + product._id"
                      class="shadow-md w-[40px] h-[40px] bg-white rounded-full flex justify-center items-center"
                      ><i class="fas fa-search"></i></a
                    ><button
                      (click)="addProductToCart(product._id)"
                      class="shadow-md w-[40px] h-[40px] bg-white rounded-full flex justify-center items-center"
                    >
                      <i class="fas fa-cart-plus"></i></button
                    ><button
                      (click)="addProductToWishlist(product._id)"
                      class="shadow-md w-[40px] h-[40px] bg-white rounded-full flex justify-center items-center"
                    >
                      <i class="far fa-heart"></i>
                    </button>
                  </div>
                </div>
                <div
                  class="py-4 flex justify-center items-center gap-2 flex-col"
                >
                  <h2 class="text-slate-500 font-medium text-sm">
                    {{ product.name }}
                  </h2>
                  <span class="font-medium text-green-500 text-xl">{{
                    product.price | currency : "USD"
                  }}</span>

                  <div class="text-xs font-medium text-gray-400">
                    <i class="fas fa-star text-yellow-400"></i> (0) Reviews
                  </div>
                </div>
              </div>

              } }@else{
              <p class="text-slate-700 font-medium">No Products Available</p>
              }
            </div>
            <!-- Start Pagination -->
            <nav
              aria-label="Page navigation example"
              class="flex justify-center items-center py-20"
            >
              <ul class="inline-flex -space-x-px text-sm">
                <li (click)="changePage(1)">
                  <button
                    class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                  >
                    Previous
                  </button>
                </li>
                <!-- End previous -->

                @if(pagination.prev){
                <li
                  (click)="changePage(pagination.prev)"
                  class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                >
                  <button class="page-link">{{ pagination.prev }}</button>
                </li>
                }
                <li class="page-item">
                  <button
                    disabled
                    class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
                  >
                    {{ pagination.currentPage }}
                  </button>
                </li>
                @if(pagination.next){
                <li
                  (click)="changePage(pagination.next)"
                  class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                >
                  <button class="page-link">{{ pagination.next }}</button>
                </li>
                }

                <!-- Start next -->

                <li (click)="changePage(pagination.totalPages!)">
                  <button
                    class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                  >
                    Next
                  </button>
                </li>
              </ul>
            </nav>

            <!-- End Pagination -->
          </div>
        </section>
        <!--  -->
      </div>
    </div>
  </section>
</main>
