.parent {
  background: #ff8008; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffc837,
    #ff8008
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffc837,
    #ff8008
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-register::-webkit-scrollbar {
  width: 5px;
}

.form-register::-webkit-scrollbar-thumb {
  background-color: #ffc837;
  
}
